%tr
<% for attribute in attributes -%>
  %td=h <%= singular_name %>.<%= attribute.name %>
<% end %>
  %td
    = link_to 'Show',    <%= name.singularize %>
    = link_to 'Edit',    <%= path_for(table_name, singular_name, "edit").gsub(/@/, "") %>
    = link_to 'Destroy', <%= name.singularize %>, :confirm => "Are you sure?", :method => :delete
