%h1 New <%= singular_name %>

- form_for(<%= form_link_for(table_name, singular_name) %>) do |f|
  = render :partial => 'form', :locals => { :f => f }

  %p
    = f.submit "Create"
    or
    = link_to 'Back', <%= path_for(table_name, singular_name, "index") %>
