%h1 Listing <%= plural_name %>

= link_to 'Add <%= singular_name.singularize.titleize %>', new_<%= table_name.singularize %>_path

%table
  %thead
    %tr
<% for attribute in attributes -%>
      %th <%=attribute.column.human_name %>
<% end -%>
      %th

  %tbody= render @<%= plural_name %>
