%h1 Editing <%= singular_name %>

- form_for(<%= form_link_for(table_name, singular_name) %>) do |f|
  = render :partial => 'form', :locals => { :f => f }

  %p
    = f.submit "Update"
    or
    = link_to 'Show', <%= path_for(table_name, singular_name, "show") %>
    or
    = link_to 'Back', <%= path_for(table_name, singular_name, "index") %>
